# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Dependency files
*.egg-info/
Pipfile
Pipfile.lock

# Logs and database files
*.log
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and JetBrains settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover
