name: SQL Deployment with Manual Approval

on:
  workflow_dispatch:  # This ensures the workflow only runs when manually triggered

jobs:
  development:
    name: Deploy to Dev
    uses: ./.github/workflows/sql-deployment-template.yml
    with:
      sql_file: DatabaseAdministration/SQLStatements/create_db2.sql
    secrets:
      sql_server: ${{ secrets.SQL_SERVER }}
      sql_user: ${{ secrets.SQL_USER }}
      sql_pass: ${{ secrets.SQL_PASS }}

  approve-production:
    name: Wait for Approval
    needs: development
    runs-on: ubuntu-latest
    environment:
      name: production
      url: 'https://rnimg-102-66-182-14.a.free.pinggy.link:44225'
    steps:
      - name: Awaiting approval to deploy to production
        run: echo "Approved! Proceeding to production deployment."

  run-production-deploy:
    name: Deploy to Prod via Template
    needs: approve-production
    uses: ./.github/workflows/sql-deployment-template.yml
    with:
      sql_file: DatabaseAdministration/SQLStatements/create_db2.sql
    secrets:
      sql_server: ${{ secrets.PROD_SQL_SERVER }}
      sql_user: ${{ secrets.PROD_SQL_USER }}
      sql_pass: ${{ secrets.PROD_SQL_PASS }}
